@font-face {
    font-family: "SF Pro Text";
    src: url('../fonts/SF-Pro.ttf');
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scroll-behavior: smooth;
  font-family: "SF Pro Text", Arial, sans-serif;
}
  
html,
body {
  font-family: "SF Pro Text", Arial, sans-serif;
  line-height: 1.6;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
  color: #fff;
}
  
/* Hero Section */
.hero-section {
  padding-top: 70px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}
  
.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  display: grid;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.hero-background {
  grid-row: 1/1;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 7fr 10fr;
  min-height: 80vh;
  max-height: 80vh;
}

.hero-background-plain {
  background-color: rgba(33, 30, 30, 1);
  width: 100%;
  height: 100%;
}

.hero-background-image {
  width: 100%;
  height: 100%;
}

.hero-background-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
  
.hero-content {
  grid-row: 1/1;
  grid-column: 1/1;
  z-index: 2;
  margin-left: 7%;
  margin-right: 53%;
  background-color: rgb(239, 239, 239);
  height: 60vh;
  padding: 3%;
  padding-top: 2%;
}
  
.hero-title {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 600;
  color: #000;
}

.hero-date {
  color: rgba(255, 222, 89, 1);
  background-color: rgba(0, 0, 0, 0.81);
  display: inline-block;
  padding: 2% 3% 2% 3%;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.hero-description {
  max-width: 90%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.hero-read-more {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
}

.hero-read-more img {
  height: 20px;
  width: 20px;
}


/* media queries for hero section*/
@media (min-width: 1600px) and (max-width: 1920px) {
  .hero-title {
    font-size: 32px;
    margin-top: 40px;
  }

.hero-date {
  font-size: 20px;
}

.hero-description {
  font-size: 24px;
  margin-top: 40px;
}

.hero-read-more {
  font-size: 24px;
}

.hero-read-more img {
  height: 30px;
  width: 30px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .hero-content {
    margin-top: 20px;
    margin-right: 20%;
    padding: 5%;
  }
}

@media only screen and (max-width: 767px) {

  .hero-content {
    margin-right: 7%;
    padding: 5%;
  }

  .hero-title {
    font-size: 20px;
  }

  .hero-date {
    font-size: 16px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-read-more {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .hero-read-more img {
    height: 15px;
    width: 15px;
  }
    
}


/* Blogs Section */
.blogs-section {
  padding-top: 70px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
}

.blogs-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: 400;
  color: #000;
  font-style: italic;
  margin-bottom: 20px;
}

.blogs-divider {
  height: 1px;
  min-height: 1px;
  background-color: #000;
}

.blogs-read {
  font-weight: 600;
  font-size: 40px;
  margin-top: 50px;
  color: #000;
}

.blogs-grid-outer {
  display: grid;
  width: 100%;
}

.blogs-grid {
  width: 100%;
  margin-top: 65px;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  row-gap: 4vw;
  padding-bottom: 70px;
}

.blog-image {
  aspect-ratio: 6/5;
  height: auto;
  width: 23vw;
}

.blog-image img {
  aspect-ratio: 6/5;
  height: auto;
  width: 23vw;
  object-fit: cover;
}

.blog-title {
  margin-top: 20px;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  max-width: 90%;
}

.blog-content {
  margin-top: 20px;
  max-width: 90%;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.blog-read-more {
  margin-top: 30px;
  display: flex;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  border: none;
  background-color: rgb(246, 246, 246);
}

.blog-read-more img {
  height: 20px;
  width: 20px;
}

.blogs-grid-overlay {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(246, 246, 246,0) 60%,rgba(246, 246, 246,1) 100%);
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 70px;
}

.blogs-view-all {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 170px;
  height: 60px;
  border: none;
  font-size: 16px;
  font-family: 'Poppins','SF Pro Text';
}

@media (min-width: 1600px) and (max-width: 1920px) {

  .blogs-view-all {
    font-size: 20px;
  }

  .blog-content {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    
}

@media only screen and (max-width: 767px) {
  .blogs-grid {
    grid-template-columns: 1fr;
  }
  .blog-image {
    width: 80vw;
  }
  .blog-image img {
    width: 80vw;
  }
  .blog-read-more {
    font-size: 16px;
  }
  .blog-read-more img {
    height: 16px;
    width: 16px;
  }
  .blog-outer {
    margin-bottom: 50px;
  }
    
}
