* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
}

html,
body {
  font-family: "SF Pro Text", Arial, sans-serif;
  line-height: 1.6;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* Hero Section */
.hero-section {
  padding-top: 70px;

  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.hero-content {
  width: 100%;
  z-index: 2;
}

.hero-title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000;
}

.text-gray {
  color: #aaa;
}

.hero-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.vector-lines {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  z-index: 1;
}

.vector-lines svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 2s forwards, gradientMove 10s infinite linear;
}

.line-1 {
  animation-delay: 0s, 2s;
}

.line-2 {
  animation-delay: 0.2s, 2.2s;
}

.line-3 {
  animation-delay: 0.4s, 2.4s;
}

.line-4 {
  animation-delay: 0.6s, 2.6s;
}

.line-5 {
  animation-delay: 0.8s, 2.8s;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes gradientMove {
  0% {
    stroke: gray;
  }
  25% {
    stroke: gray;
  }
  50% {
    stroke: gray;
  }
  75% {
    stroke: gray;
  }
  100% {
    stroke: gray;
  }
}

/* Hero Section Media Queries */

@media (max-width: 1300px) {
  .hero-section {
    height: auto;
  }
  .vector-lines {
    height: 100%;
  }
  .hero-container {
    min-width: none;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    width: 100%;
    height: auto;
    min-height: 600px;
  }
  .hero-title {
    font-size: 60px;
  }

  .hero-content {
    width: 70%;
  }

  .vector-lines {
    width: 50%;
    height: 100%;
    
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
  }

  .hero-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 25% 5%;
    padding-bottom: 10%;
  }

  .hero-content {
    width: 100%;
    text-align: left;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-description br {
    display: none;
  }

  .vector-lines {
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}

@media (max-width: 576px) {
  .hero-description {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: auto;
    width: 100%;
  }
  .hero-title {
    font-size: 42px;
  }
}

.scroll-container {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.scroll-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
  background-color: #000;
}

.main-container {
  width: 100%;
  max-width: 100%;
  background: #000;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  gap: 2rem;
  overflow: hidden;
}
.self-storage-heading {
  width: 100%;
  margin-left: 0;
}
.main-container i {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  display: block;
}
.seperation-line {
  margin-top: 1rem;
  width: 100%;
  height: 3px;
  text-align: left;
  background: #ffde59;
}
.wraper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem 0;
}
.self-sub-container {
  flex: 1;
  max-width: 40%;
}
.service-description {
  padding: 0.7rem 0;
}
.service-description h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  padding-bottom: 0.7rem;
  color: #fff;
}
.service-description p {
  color: #fff;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  padding: 1rem 0;
}
.lock-img {
  margin: 2rem 0;
  padding-top: 5px;
  padding-left: 20px;
  width: 220px;
  height: 200px;
  border: 2px solid #000;
  overflow: hidden;
}
.lock-img img {
  margin-right: 3rem;
  width: 186px;
  height: 186px;
  background-size: cover;
}
.right-img-container {
  flex: 1;
  text-align: left;
  margin-left: 0;
  min-width: 300px;
  max-width: 799px;
  overflow: visible;
}
.right-img-container img {
  align-items: center;
  width: 100%;
  height: auto;
  background-size: cover;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .service-description h3 {
    font-size: 26px;
  }
  .service-description p {
    font-size: 18px;
    width: 100%;
    height: auto;
  }
  .lock-img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .wraper-container {
    flex-direction: column;
    align-items: start;
  }
  .self-storage-heading i {
    font-size: 38px;
  }
  .self-sub-container {
    max-width: 100%;
  }
  .service-description h3 {
    font-size: 28px;
  }
  .service-description p {
    font-size: 22px;
    text-align: left;
    width: 100%;
    height: auto;
  }
  .right-img-container {
    margin-left: 0;
    width: 100%;
    overflow: visible;
  }
  .right-img-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .lock-img {
    max-width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .self-storage-heading {
    margin: 0;
    width: 100%;
  }
  .seperation-line {
    width: 100% !important;
  }
  .wraper-container {
    margin: 0 !important;
  }
  .self-sub-container {
    padding: 0;
    max-width: 100%;
  }
  .self-storage-heading i {
    font-size: 26px;
  }
  .service-description h3 {
    font-size: 18px;
    text-align: left;
  }
  .lock-img {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .main-container {
    text-align: left;
    gap: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .service-description p {
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 18px;
    line-height: 1.3;
    padding: 0;
  }
  .lock-img {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .wraper-container {
    flex-direction: column;
    align-items: start;
    margin: 16px 0;
  }
  .right-img-container {
    display: flex;
    padding: 0;
    margin-left: 0;
    width: 100%;
    overflow: visible;
  }
  .right-img-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.how-it-works-section {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.container {
  background: #000;
  max-width: 100%;
  width: 100%;
  padding: 5% 5% 2rem 5%;
  margin: 0;
  height: auto;
  box-sizing: border-box;
}

.process-wrapper {
  border-radius: 5px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.priority-text {
  font-style: italic;
  font-size: 26px;
  color: #fff;
}

.line {
  border: 1px solid gold;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}

.steps-container {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  width: 100%;
  top: 0;
}

/* .timeline {
  position: absolute;
  left: 52%;
  height: 94%;
  width: 1px;
  background-color: #fff;
  opacity: 0.8;
  transform: translateX(-50%);
  z-index: 0;
} */

.scroll-dot {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, 0);
  top: 11%;
  z-index: 2;
  transition: top 0.4s ease;
}

.step {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  width: 100%;
}

.step-image-container {
  width: 100%;
}

.step-image {
  width: 666px;
  height: auto;
  margin-bottom: 40px;
}

.step-content-container {
  width: 100%;
}

.step-content {
  display: flex;
  align-items: flex-start;
}

.step-number {
  font-size: 90px;
  font-weight: 700;
  margin-left: 50px;
  margin-right: 20px;
  line-height: 1;
}

.step-text {
  margin-left: 10px;
}

.step-text h3 {
  font-size: 26px;
  margin-bottom: 5px;
  font-family: inter;
}

.step-text p {
  font-size: 24px;
  color: #ccc;
}

/* Add these styles to your existing CSS */

/* Make the timeline responsive */
.timeline {
  position: absolute;
  left: 52%;
  height: 100%;
  width: 1px;
  background-color: #fff;
  opacity: 0.8;
  transform: translateX(-50%);
  z-index: 2;
  transition: opacity 0.3s ease;
}

/* Add smooth transitions for all elements */
.step {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Responsive adjustments */
@media (max-width: 1300px) {
  .step-image-container {
    width: 50%;
  }
  .step-image {
    width: 100%;
  }
  .step-content-container {
    margin-left: 40px;
    width: 48%;
  }
  .step-content {
    width: 100%;
  }
  .timeline {
    left: 53%;
  }
}

@media (max-width: 1024px) {
  .step-image {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .step {
    flex-direction: column;
  }

  .step-image-container {
    width: 90%;

    margin-bottom: 20px;
  }

  .step-image {
    width: 100%;
    max-width: 720px;
    margin-left: 50px;
  }

  .timeline {
    left: 20px;
    height: 100%;
  }

  .scroll-dot {
    transform: translateX(-50%);
  }

  .step-content-container {
    width: 95%;
    padding-left: 40px;
  }

  .step-number {
    margin-left: 0;
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .priority-text {
    font-size: 22px;
  }

  .step-content-container {
    padding-left: 0;
  }
  .step-number {
    font-size: 50px;
  }

  .step-text h3 {
    font-size: 22px;
  }

  .step-text p {
    font-size: 18px;
  }
}

/* Why Choose Lozy section */
.lazy-container {
  padding: 5%;
  padding-left: 0;
  padding-bottom: 12%;
  height: auto;
  min-height: 100vh;
  background: #000;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  z-index: -1;
}

.why-choose-section {
  margin-left: 3%;
  padding: 0 40px 30px 30px;
  position: relative;
  height: auto;
  width: 100%;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
.storage-divider {
  width: 100%;
  height: 1px;
  background-color: #ffde59;
  margin-bottom: 40px;
  margin-top: 20px;
}
.content-wrapper {
  display: flex;
  gap: 30px;
  height: auto;
  padding: 2rem 0;
  width: 100%;
}

.lazy-left-content {
  position: relative;
  flex: 1.2;
  height: auto;
  width: 40%;
}

.lazy-left-content img {
  position: absolute;
  top: 35%;
  left: -10%;
  width: 100%;
  height: 70vh;
  max-width: 700px;
  z-index: 1;
}

.lazy-left-content h3 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin-top: 70px;
  max-width: 550px;
  margin-left: 16%;
}

.highlight {
  color: #aaa;
}

.lazy-right-content {
  flex: 1;
  color: #fff;
  min-width: 300px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.feature-box {
  background-color: #222;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  min-height: 120px;
  width: 100%;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 44px;
  height: 44px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  flex-shrink: 0;
}

.feature-text p {
  font-size: 18px;
  font-weight: 400;
}

/* Why Choose Lozy Section Media Queries */
@media (max-width: 1300px) {
  .lazy-container {
    min-height: unset;
  }
  .lazy-left-content img {
    top: 10%;
    left: 0%;
  }
  .lazy-left-content h3 {
    font-size: 48px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .lazy-container {
    min-height: unset !important;
    height: auto !important;
  }
  .lazy-left-content {
    width: 40%;
  }
  .lazy-left-content img {
    top: 20%;
    height: 650px;
    left: 0;
  }

  .lazy-left-content h3 {
    position: absolute;
    top: 8%;
    margin-top: 30px;
    font-size: 42px;
    max-width: 100%;
    margin-left: 15%;
  }

  .lazy-right-content {
    width: 50%;
  }

  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 920px) {
  .lazy-right-content {
    min-width: unset;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    gap: 5px;
  }
  .lazy-left-content {
    width: 100%;
  }
  .lazy-left-content img {
    position: relative;
    max-width: 75%;
    height: 580px;
    object-fit: contain;
  }

  .lazy-right-content {
    width: 100%;
    padding-left: 5%;
  }
  .feature-grid {
    grid-template-columns: 1fr;
  }

  .feature-box {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .lazy-left-content h3 {
    font-size: 28px;
  }

  .section-title {
    font-size: 22px;
  }

  .feature-text p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .lazy-left-content h3 {
    position: absolute;
    top: -5%;
    left: 20%;
    font-size: 32px;
    width: 80%;
    margin: 0;
    z-index: 2;
    transform: translateY(-10%);
  }

  .lazy-left-content img {
    height: 350px;
    object-fit: contain;
  }
}

/* FAQ Section */
.fa-content {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 5%;
  padding-right: 0;
  background-color: #fff;
  position: relative;
}

.fa-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.faq-header {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000;
}

.faq-divider {
  height: 1px;
  background-color: #000;
  margin-bottom: 50px;
  margin-right: 5%;
  width: 100%;
}

.faq-list {
  width: 50%;
  max-width: 800px;
}

.faq-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 35px;
  position: relative;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}

.arrow-button {
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.arrow-button svg {
  width: 14px;
  height: 14px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-top: 0;
  color: #000;
}

.faq-answer.active {
  max-height: 200px;
  padding-top: 15px;
}

.fa-right-content {
  position: absolute;
  top: 54%;
  right: 10%;
  left: 60%;
  transform: translateY(-50%);
  width: 35%;
  text-align: left;
  z-index: 2;
}

.fa-right-content h2 {
  font-size: 70px;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #000;
}

.vector-line {
  position: absolute;
  right: -0;
  top: 80%;
  transform: translateY(-50%);
  width: 50%;
  height: auto;
  z-index: 1;
}

.vector-line img {
  width: 100%;
  height: auto;
  max-width: 920px;
}

.faq-banner {
  margin-top: 100px;
  width: 96%;
  max-width: 1530px;
  height: 495px;
  background-image: url("/static/images/03_mk18\ Image\ 1\ \(1\).png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}

.faq-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.faq-banner-content {
  position: relative;
  z-index: 2;
}

.faq-banner h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.faq-banner p {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-btn {
  background-color: #000;
  color: #fff;
  border: none;
  width: 167px;
  max-width: 100%;
  height: 53px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #333;
}

/* FAQ Section Media Queries */

@media (max-width: 1300px) {
  .faq-banner {
    width: 97%;
  }
  .faq-divider {
  }
}
@media (max-width: 1024px) {
  .faq-list {
    width: 50%;
  }

  .fa-right-content {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 55%;
    transform: none;
    margin-top: 50px;
  }
  /* .step-image{
    width: 100%;
    max-width: 450px;
  } */

  .vector-line {
    position: absolute;
    width: 60%;
    top: 57%;
    right: -0;
    transform: none;
  }
  .faq-banner {
    margin-top: 140px;
    max-width: 100%;
  }
}

@media (max-width: 920px) {
  .fa-right-content h2 {
    font-size: 58px;
  }
  .faq-item {
    margin-bottom: 20px;
  }
  .vector-line {
    top: 62%;
  }
}

@media (max-width: 768px) {
  .fa-content {
    height: auto;
    min-height: 170vh;
  }
  .fa-container {
    width: 100%;
    padding: 5%;
    height: auto;
    padding-left: 0;
  }
  .fa-right-content {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    transform: none !important;
    text-align: left !important;
    margin-top: 30px;
  }

  .fa-right-content h2 {
    text-align: left !important;
  }
  .faq-list {
    width: 100%;
  }

  .faq-item {
    margin-bottom: 10px;
  }
  .vector-line {
    width: 90%;
    position: absolute;
    top: 78%;
  }
  .faq-banner {
    position: absolute;
    top: 58%;
    width: 90% !important;
  }
  .faq-banner h3 {
    font-size: 20px;
  }

  .faq-banner p {
    font-size: 14px;
  }

  .fa-right-content h2 {
    font-size: 60px;
    margin-top: 100px;
    line-height: 1.6;
  }
}

@media (max-width: 576px) {
  .faq-question {
    font-size: 18px;
  }

  .fa-right-content h2 {
    font-size: 36px;
    text-align: left;
  }
  .faq-banner {
    top: 60%;
    position: absolute;
    height: auto;
  }

  .vector-line img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .faq-header {
    font-size: 22px;
  }
  .fa-right-content h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 32px;
  }
  .faq-banner {
    width: 90%;
    height: 220px;
  }

  .faq-banner h3 {
    font-size: 18px;
  }

  .faq-banner p {
    font-size: 13px;
  }

  .contact-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .faq-banner {
    top: 55%;
  }
}
