/* Reset and Base Styles */
a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
nav,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: 'LozyFont';
  src: url('/static/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LozyFont";
  line-height: 1;
}

ul {
  list-style: none;
}

/* Navigation Bar */
.nav-section {
  width: 100%;
}

.storage-navbar {
  width: 100%;
  height: 99px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.storage-navbar__container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* position: relative; */
}

.storage-navbar__logo {
  /* position: relative; */
  /* z-index: 1002; */
  width: 20%;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px;
  width: auto;
  max-width: 150px;
  object-fit: contain;
}

.storage-navbar_wrapper{
  display: flex;
  width: 80%;
}

.storage-navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 616px; */
  /* height: 24px; */
  /* position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%); */
  gap: clamp(10px, 2vw, 40px);
}

.storage-navbar__menu-item {
  font-family: "LozyFont";
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 20px);
  color: #000;
  text-decoration: none;
  cursor: pointer;
  /* position: relative; */
  display: flex;
  align-items: center;
}

/* Dropdown Menu */
.storage-navbar__dropdown {
 
  display: flex;
  align-items: center;
  gap: 5px;
}

.storage-navbar__dropdown-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.storage-navbar__dropdown-icon.active {
  transform: rotate(180deg);
}

.storage-navbar__dropdown-content {
  position: absolute;
  width: 1266px;
  height: 526px;
  top: 100%;
 left: 50%;
 transform: translateX(-50%);
  background: linear-gradient( rgba(147, 147, 147, 0.55) 0%,  rgba(47, 44, 44, 0.45) 100%);
  backdrop-filter: blur(10px); /* blurs background behind the element */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  border-radius: 8px;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1001;
}

.storage-navbar__dropdown-content.active {
  opacity: 1;
  visibility: visible;
}

.storage-navbar__dropdown-header {
  /* position: relative;
  margin-bottom: 30px; */
  padding: 10px 20px;
}

.storage-navbar__dropdown-title {
  margin: 10px 0;
  height: 26px;
  font-family: "LozyFont";
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFDE59;
}

.storage-navbar__dropdown-divider-horizontal {
  width: 766px;
  height: 1px;
  /* position: relative; */
  /* top: 30px; */
  /* left: 37px; */
  background-color: #FFFFFF;
  opacity: 70%;
  /* margin: 0 20px;*/
}

.storage-navbar__dropdown-columns {
  display: flex;
      justify-content: space-between;
      position: relative;
      padding: 15px 20px;
      padding-bottom: 0;
     
}

.storage-navbar__dropdown-column {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
}

.storage-navbar__dropdown-divider-vertical-1 {
  opacity: 70%;
    width: 1px;
    height: 435px;
    position: relative;
    top: -50px;
    /* left: 358px; */
    background-color: #FFFFFF;
}

.storage-navbar__dropdown-divider-vertical-2 {
  width: 1px;
    height: 435px;
    position: relative;
    top: -50px;
    /* left: 750px; */
    background-color: #FFFFFF;
    opacity: 70%;
}

.storage-navbar__dropdown-subtitle {
  width: 135px;
  height: 26px;
  margin-top: 10px;
  margin-left: 71px;
  font-family: "LozyFont";
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 30px;
}

.storage-navbar__dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.storage-navbar__dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.storage-navbar__dropdown-bullet {
  width: 7px;
  height: 7px;
  background-color: #000000;

}

.storage-navbar__dropdown-link {
  font-family: "LozyFont";
  font-weight: 400;
  font-size: clamp(14px, 1.3vw, 20px);
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.storage-navbar__dropdown-link:hover {
  color: #000;
}

.storage-navbar__dropdown-feature {
  width: 343px;
  margin: 50px;
  margin-top: 0;
}
.storage-navbar__dropdown-feature:last-child{
    width: 343px;
    margin: 50px;
    margin-top: 0;
    position: relative;
    top: -60px;}

.storage-navbar__dropdown-image-container {
  width: 343px;
  height: 227px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: opacity 0.5s ease;
}

.storage-navbar__dropdown-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.storage-navbar__dropdown-description {
  width: 326px;
    font-family: "LozyFont";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
    margin-bottom: 20px;
}

.storage-navbar__dropdown-know-more {
  /* width: 116px; */
  height: 26px;
  font-family: "LozyFont";
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Buttons */
.storage-navbar__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: clamp(14px, 1.3vw, 20px);
  /* position: absolute;
  top: 20px;
  right: 20px; */
}

.storage-navbar__broacher-btn {
  width: 174px;
  height: 61px;
  border: 1px solid rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "LozyFont";
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.storage-navbar__broacher-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.storage-navbar__contact-btn {
  width: 174px;
  height: 61px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "LozyFont";
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.storage-navbar__contact-btn:hover {
  background-color: #fff;
  color: #000;
}

/* Mobile Toggle */
.storage-navbar__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 1002;
}

.storage-navbar__toggle span {
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.storage-navbar__toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.storage-navbar__toggle.active span:nth-child(2) {
  opacity: 0;
}

.storage-navbar__toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Mobile Menu */
.storage-mobile-menu {
  background: linear-gradient(rgba(127, 127, 127, 1), rgba(47, 44, 44, 1));
  position: fixed;
  top: 99px;
  right: -100%;
  width: 100%;
  height: calc(100vh - 99px);
 
  z-index: 999;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.storage-mobile-menu.active {
  right: 0;
}

.storage-mobile-menu__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}



.storage-mobile-menu__item {
  font-family: "LozyFont";
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding: 15px 0;
 
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.storage-mobile-menu_heading{
  color: rgba(255, 255, 255, 0.71);
}

.storage-mobile-menu__dropdown {
  position: relative;
}

.storage-mobile-menu__dropdown-icon {
  transition: transform 0.3s ease;
}

.storage-mobile-menu__dropdown.active .storage-mobile-menu__dropdown-icon {
  transform: rotate(180deg);
}

/* IMPORTANT: This is the key style that needs to be changed */
.storage-mobile-menu__dropdown-content {
  display: none;
  padding: 10px 0 10px 20px;
  flex-direction: column;
  gap: 15px;
  
  border-radius: 8px !important;
  margin-top: 10px !important;

}

.storage-mobile-menu__item_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storage-mobile-menu__dropdown.active .storage-mobile-menu__dropdown-content {
  display: flex;
}

/* Update the link color to white for better visibility on the dark background */
.storage-mobile-menu__dropdown-link {
  font-family: "LozyFont";
  font-weight: 400;
  font-size: 22px;
  color: #fff !important;
  text-decoration: none;
  padding: 5px 0;
}

.storage-mobile-menu__broacher {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.storage-mobile-menu__contact {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: none;
}

/* Responsive Styles */
@media (min-width: 1025px) and (max-width: 1400px) {
  .storage-navbar__dropdown-content {
    width: 1000px;
    /* left: -600px; */
  }
  
  .storage-navbar__dropdown-divider-horizontal {
    width: 500px;
  }
  
  .storage-navbar__dropdown-divider-vertical-1 {
    /* left: 300px; */
  }
  
  .storage-navbar__dropdown-divider-vertical-2 {
    /* left: 650px; */
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .storage-navbar__dropdown-content {
    width: 900px;
    /* left: -500px; */
  }
  
  .storage-navbar__dropdown-divider-horizontal {
    width: 600px;
  }
  
  .storage-navbar__dropdown-divider-vertical-1 {
    /* left: 280px; */
  }
  
  .storage-navbar__dropdown-divider-vertical-2 {
    /* left: 600px; */
  }
  
  .storage-navbar__buttons {
    right: 10px;
  }
  
  .storage-navbar__broacher-btn,
  .storage-navbar__contact-btn {
    width: 150px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .storage-navbar__container {
    justify-content: space-between;
  }
  
  .storage-navbar__menu {
    display: none;
  }
  
  .storage-navbar__buttons {
    display: none;
  }
  
  .storage-navbar__toggle {
    display: flex;
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .storage-navbar {
    height: 90px;
  }
  
  .storage-mobile-menu {
    top: 90px;
    height: calc(100vh - 90px);
  }
}

@media (max-width: 767px) {
  .storage-navbar {
    height: 80px;
  }
  
  .storage-navbar__container {
    padding: 0 15px;
  }
  
  .storage-mobile-menu {
    top: 80px;
    height: calc(100vh - 80px);
  }

  .storage-mobile-menu__dropdown-link{
    font-size: 20px;
  }
  
  .logo-image {
    height: 40px;
  }
}

@media (max-width: 576px) {
  .storage-navbar {
    height: 70px;
  }
  
  .storage-mobile-menu {
    top: 70px;
    height: calc(100vh - 70px);
  }
  
  .logo-image {
    height: 35px;
  }
  
  .storage-mobile-menu__item {
    font-size: 16px;
  }
}