<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="/static/css/blog.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-container">
        <div class="hero-background">
            <div class="hero-background-plain"></div>
            <div class="hero-background-image">
                <img src="../static/images/blog_hero_section.png">
            </div>
        </div>
        <div class="hero-content">
          <div class="hero-date">
            January 4, 2025
          </div>
          <h1 class="hero-title">
            The Ultimate Guide to Choosing<br/>the Right Storage Unit
          </h1>
          <p class="hero-description">
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud 
            exercitation ullamco
          </p>
          <div class="hero-read-more">
            Read More
            <div class="read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/static/js/blog.js"></script>
  </body>
</html>
