<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/static/css/blog.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    {%include "navbar.html"%}

    <!-- Blog desc hero section start -->
    <section class="header-section">
      <h1 class="blog-title">
        The Ultimate Guide to Choosing the Right Storage Unit
      </h1>
      <div class="blog-line-outer">
        <div class="vertical-line"></div>
        <p class="blog-description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy.
        </p>
      </div>
      <div class="blog-image">
        <img src="/static/images/blog_background.webp" />
      </div>
    </section>
<!-- blog desc hero section ended -->


<!-- blog content section start -->
    <section class="content-section">
      <div class="content-outer">
        <div class="blog-content-outer">
          <div class="blog-content" id="blog-content-1">
            <h2 class="blog-content-title">
              The Ultimate Guide to Choosing the Right Storage Unit
            </h2>
            <div class="content-line-outer">
              <div class="vertical-line"></div>
              <div class="blog-content-paras">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy.
                </p>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. It is a long established fact that a reader will be
                  distracted by the readable content of a page when looking at
                  its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to
                  using 'Content here, content here', making it look like
                  readable English. Many desktop publishing packages and web
                  page editors now use Lorem Ipsum as their default model text,
                  and a search for 'lorem ipsum' will uncover many web sites
                  still in their infancy.
                </p>
              </div>
            </div>
          </div>
          <div class="blog-content" id="blog-content-2">
            <h2 class="blog-content-title">
              The Ultimate Guide to Choosing the Right Storage Unit
            </h2>
            <div class="content-line-outer">
              <div class="vertical-line"></div>
              <div class="blog-content-paras">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy.
                </p>
              </div>
            </div>
          </div>
          <div class="blog-content" id="blog-content-3">
            <h2 class="blog-content-title">
              The Ultimate Guide to Choosing the Right Storage Unit
            </h2>
            <div class="content-line-outer">
              <div class="vertical-line"></div>
              <div class="blog-content-paras">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- blog content section start -->
        <div class="content-right">
          <div class="content-index">
            <h4 class="content-index-title">CONTENTS</h4>
            <ol class="content-index-list">
              <li>The Ultimate Guide to Choosing the Right Storage Unit</li>
              <li>The Ultimate Guide to Choosing the Right Storage Unit</li>
              <li>The Ultimate Guide to Choosing the Right Storage Unit</li>
              <li>The Ultimate Guide to Choosing the Right Storage Unit</li>
              <li>The Ultimate Guide to Choosing the Right Storage Unit</li>
            </ol>
          </div>

          <!-- blog content section ended -->



          <!-- blog form section start -->
          <div class="blog-contact-form-outer">
            <h4 class="blog-contact-form-title">In what way can we help?</h4>
            <div id="form-success-message" class="form-success-message">
              Thank you! Your message has been submitted successfully.
            </div>
            <form id="blog-contact-form" class="blog-contact-form">
              <div class="blog-contact-form-top-row">
                <div class="blog-contact-form-input" id="name">
                  <label
                    for="blog-contact-form-name"
                    class="blog-contact-form-label"
                    >Full Name <span class="required">*</span></label
                  >
                  <input 
                    type="text" 
                    id="blog-contact-form-name" 
                    class="blog-contact-form-name" 
                    required 
                  />
                  <span class="error-message" id="name-error"></span>
                </div>
                <div class="blog-contact-form-input" id="email">
                  <label
                    for="blog-contact-form-email"
                    class="blog-contact-form-label"
                    >Email <span class="required">*</span></label
                  >
                  <input 
                    type="email" 
                    id="blog-contact-form-email" 
                    class="blog-contact-form-email" 
                    required 
                  />
                  <span class="error-message" id="email-error"></span>
                </div>
              </div>
              <div class="blog-contact-form-input" id="phone">
                <label
                  for="blog-contact-form-phone"
                  class="blog-contact-form-label"
                  >Phone <span class="required">*</span></label
                >
                <input 
                  type="tel" 
                  id="blog-contact-form-phone" 
                  class="blog-contact-form-phone" 
                  pattern="[0-9]*" 
                  required 
                />
                <span class="error-message" id="phone-error"></span>
              </div>
              <div class="blog-contact-form-input" id="message">
                <label
                  for="blog-contact-form-message"
                  class="blog-contact-form-label"
                  >Write your own question</label
                >
                <textarea id="blog-contact-form-message" class="blog-contact-form-message"></textarea>
              </div>
              <button type="submit" class="blog-contact-form-btn">
                Submit
              </button>
            </form>
          </div>


          <!-- blog form section ended -->




          <!-- blog social links section start -->
          <div class="content-social-media">
            <h4 class="content-social-media-title">Social Media Links</h4>
            <div class="content-social-media-icons">
              <div class="content-social-media-icon" id="linkedin">
                <img src="/static/images/blog_linkedin_icon.webp" />
              </div>
              <div class="content-social-media-icon" id="twitter">
                <img src="/static/images/blog_twitter_icon.webp" />
              </div>
              <div class="content-social-media-icon" id="facebook">
                <img src="/static/images/blog_facebook_icon.webp" />
              </div>
              <div class="content-social-media-icon" id="instagram">
                <img src="/static/images/blog_instagram_icon.webp" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blog social links section ended -->



    <!-- contactus section start -->
    <section class="contact-section">
      <div class="contact-banner">
        <img src="/static/images/contact_us_faq_background.webp" />
        <div class="contact-banner-content">
          <h3>The Ultimate Guide to Choosing the Right Storage Unit</h3>
          <p>
            A good idiom for kids is "It's raining cats and dogs." Kids know
            what both cats and dogs are from an early age.
          </p>
          <a href="/contact">
            <button class="contact-btn">Contact Us</button></a
          >
        </div>
      </div>
    </section>


    <!-- contactus section ended -->

    {%include "footer.html"%}
    <script src="/static/Js/blog.js"></script>
  </body>
</html>