<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="/static/css/blogs.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-container">
        <div class="hero-background">
            <div class="hero-background-plain"></div>
            <div class="hero-background-image">
                <img src="../static/images/blog_hero_section.png">
            </div>
        </div>
        <div class="hero-content">
          <div class="hero-date">
            January 4, 2025
          </div>
          <h1 class="hero-title">
            The Ultimate Guide to Choosing<br/>the Right Storage Unit
          </h1>
          <p class="hero-description">
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud 
            exercitation ullamco
          </p>
          <div class="hero-read-more">
            <span>Read More</span>
            <div class="read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blogs-section">
      <h2 class="blogs-heading">Our Blogs</h2>
      <div class="blogs-divider"></div>
      <h3 class="blogs-read">Read Our Latest Blogs</h3>
      <div class="blogs-grid-outer">
        <div class="blogs-grid">
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_1.jpg">
            </div>
            <h4 class="blog-title">
              Designing for Tomorrow: Trends Shaping the User Experience in 2025
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_2.jpg">
            </div>
            <h4 class="blog-title">
              Sustainability in Tech: Steps Toward a Greener Future
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_3.jpg">
            </div>
            <h4 class="blog-title">
              5 Innovative Solutions Transforming the Tech Industry Today
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_1.jpg">
            </div>
            <h4 class="blog-title">
              Designing for Tomorrow: Trends Shaping the User Experience in 2025
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_2.jpg">
            </div>
            <h4 class="blog-title">
              Sustainability in Tech: Steps Toward a Greener Future
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_3.jpg">
            </div>
            <h4 class="blog-title">
              5 Innovative Solutions Transforming the Tech Industry Today
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_2.jpg">
            </div>
            <h4 class="blog-title">
              Sustainability in Tech: Steps Toward a Greener Future
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_3.jpg">
            </div>
            <h4 class="blog-title">
              5 Innovative Solutions Transforming the Tech Industry Today
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_1.jpg">
            </div>
            <h4 class="blog-title">
              Designing for Tomorrow: Trends Shaping the User Experience in 2025
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_2.jpg">
            </div>
            <h4 class="blog-title">
              Sustainability in Tech: Steps Toward a Greener Future
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
          <div class="blog-outer">
            <div class="blog-image">
              <img src="/static/images/blog_image_3.jpg">
            </div>
            <h4 class="blog-title">
              5 Innovative Solutions Transforming the Tech Industry Today
            </h4>
            <p class="blog-content">As technology continues to evolve, so does its impact on the environment. At the intersection of innovation and responsibility lies the need for sustainable practices in the tech industry</p>
            <button class="blog-read-more">
              <span>Read More</span>
              <div class="blog-read-more-icon">
                <img src="../static/images/blog_read_more_arrow.png">
              </div>
            </button>
          </div>
        </div>
        <div class="blogs-grid-overlay">
          <button class="blogs-view-all">
            View All
          </button>
        </div>
      </div>
    </section>

    <script src="/static/js/blogs.js"></script>
  </body>
</html>
