<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOZY</title>
  </head>
  <body>
    {%include "navbar.html"%}
    <h1>LOZY SETUP</h1>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      nesciunt excepturi enim laudantium iste, veniam esse fugiat? Quam delectus
      debitis iure asperiores, nostrum, expedita dolor commodi placeat
      voluptatum illo ipsam! Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. At distinctio, laborum, reprehenderit sunt omnis amet temporibus
      autem, tempora voluptatibus repudiandae error corrupti itaque nihil libero
      deserunt laboriosam explicabo eligendi tempore.
    </h2>
  </body>
</html>
